.loreumText {
    font-size: 4.5rem;
    line-height: 4.2rem;
    color: white;
}

.header-container {
    background-image: url('../../assets/images/backgrounds/Rectangle11.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1.5rem;
}

.trends-container, .services-container, .footer-container, .main-container {
    padding: 0%;
}

#bitcoinImage {
    padding: 0%;
    height: 81%;
}
