<div class="container-fluid main-container">
    <div class="row header-container">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <!-- <div class="row imageContainer">
        <div class="col-md-6 loreumText">
        </div>
    </div> -->
    <br><br><br><br>
    <div class="row">
        <div class="col-md-12 services-container">
            <app-services></app-services>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 trends-container">
            <app-trends></app-trends>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 contactUs-container">
            <app-contact-us></app-contact-us>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer-container">
            <app-footer></app-footer>
        </div>
    </div>
</div>