<header id="header-container">
    <!-- Navbar Container -->
    <nav id="navbar-container" class="navbar navbar-expand-md bg-white navbar-light">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="../../../assets/images/icons/oodles_logo.png" alt="oodles_logo" width="60px"></a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item pl-3">
                    <a class="nav-link text-uppercase small" href="#">Home</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-uppercase small" href="#">Portfolio</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-uppercase small" href="#">Technologies</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-uppercase small" href="#">Marketing Insight</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item pl-3 dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase small" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item small" href="#">Smart Contracts Development</a>
                        <a class="dropdown-item small" href="#">Exchanges</a>
                        <a class="dropdown-item small" href="#">Blockchanin Development</a>
                        <a class="dropdown-item small" href="#">Hyperledger</a>
                        <a class="dropdown-item small" href="#">Private Blockchanin Development</a>
                        <a class="dropdown-item small" href="#">Wallet</a>
                    </div>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-uppercase small" href="#">About Us</a>
                </li>
            </ul>
        </div>  
    </nav>

    <div class="banner-image-container">
        <div class="row">
            <div class="col-md-6 banner-title">
                <div>LOREM</div>
                <div>IPSUM</div>
            </div>
            <div class="col-md-6 banner-image">
                <img src="../../../assets/images/backgrounds/bitcoin_3d_logo.png" alt="bitcoin_3d_logo" width="600px">
            </div>
        </div>
    </div>

</header>