
#header-container #navbar-container {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0.8rem;
}

#header-container #navbar-container a:hover {
    color: #007bff;
    border-bottom: 1px solid #007bff; 
}

#header-container .banner-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem 8rem; 
}
#header-container .banner-image-container .banner-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-size: 4.5rem;
    line-height: 4.2rem;
}