<!-- Our Services Container -->
<section id="our-services-container">

    <!-- Services Features Container -->
    <div class="container-fluid services-features-container">

        <h1 class="text-uppercase text-primary text-center">Our Services</h1>

        <!-- Services Row-One -->
        <div class="row services-row-one">
            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/Layer 3.png" alt="Layer 3">
                <p class="text-uppercase font-weight-bold">Smart Contracts Development</p>
            </div>

            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/Layer 4.png" alt="Layer 4">
                <p class="text-uppercase font-weight-bold">Exchanges</p>
            </div>

            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/Layer 5.png" alt="Layer 4">
                <p class="text-uppercase font-weight-bold">Blockchain Development</p>
            </div>
        </div>

        <!-- Services Row-Two -->
        <div class="row services-row-two">
            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/Network-512.png" alt="Network-512">
                <p class="text-uppercase font-weight-bold">Hyperledger</p>
            </div>

            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/if_Dzone_669685.png" alt="if_Dzone_669685">
                <p class="text-uppercase font-weight-bold">Private Blockchain Development</p>
            </div>

            <div class="col-md-4 text-center services-grid">
                <img src="../../assets/images/icons/Layer 6.png" alt="Layer 6">
                <p class="text-uppercase font-weight-bold">Wallet</p>
            </div>
        </div>

        <div class="text-center">
            <button id="view-all-services" class="btn btn-outline-primary pl-5 pr-5" data-toggle="modal" data-target="#myModal">View all Services</button>
        </div>
    </div>

    <!-- Popup Services Features Container -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Our Services</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Smart Contracts Development</li>
                        <li>Exchanges</li>
                        <li>Blockchain Development</li>
                        <li>Hyperledger</li>
                        <li>Private Blockchain Development</li>
                        <li>Wallet</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>